.log-in-enter-number {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.log-in-enter-number .overlap-wrapper {
  background-color: #ffffff;
  height: 640px;
  overflow: hidden;
  width: 360px;
}

.log-in-enter-number .overlap {
  height: 640px;
  left: -140px;
  position: relative;
  width: 640px;
}

.log-in-enter-number .background {
  height: 640px;
  left: 0;
  position: absolute;
  top: 0;
  width: 640px;
}

.log-in-enter-number .overlap-group {
  background-image: url(./image-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 640px;
  left: 140px;
  position: relative;
  width: 360px;
}

.log-in-enter-number .ellipse {
  height: 600px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 360px;
}

.log-in-enter-number .book-my-show-logo {
  height: 80px;
  left: 280px;
  object-fit: cover;
  position: absolute;
  top: 100px;
  width: 80px;
}

.log-in-enter-number .rectangle {
  border: 2px solid;
  border-color: #e8e8e8;
  border-radius: 8px;
  height: 48px;
  left: 200px;
  position: absolute;
  top: 276px;
  width: 240px;
}

.log-in-enter-number .div {
  border: 2px solid;
  border-color: #e8e8e8;
  border-radius: 8px;
  height: 48px;
  left: 200px;
  position: absolute;
  top: 372px;
  width: 240px;
}

.log-in-enter-number .please-enter-your {
  color: #737373;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 208px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 219px;
}

.log-in-enter-number .text-wrapper {
  color: #aaaaaa;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 216px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 291px;
  white-space: nowrap;
}

.log-in-enter-number .text-wrapper-2 {
  color: #aaaaaa;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 216px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 387px;
  white-space: nowrap;
}

.log-in-enter-number .text-wrapper-3 {
  color: #aaaaaa;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 314px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 339px;
  white-space: nowrap;
}

.log-in-enter-number .rectangle-2 {
  background-color: #d71921;
  border-radius: 40px;
  height: 48px;
  left: 200px;
  position: absolute;
  top: 492px;
  width: 240px;
}

.log-in-enter-number .text-wrapper-4 {
  color: #ffffff;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 248px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 507px;
  white-space: nowrap;
}
